{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Future Job</title>
        <link rel="shortcut icon" type="image/png" href="http://future-job.net/static/img/symbol.png">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_admin.css' %}">

        <script src="https://use.fontawesome.com/fde3c954a7.js"></script>
        <link rel="stylesheet" type="text/css" href="http://future-job.net/static/css/style.css">
    </head>
    <body>
        <script>
            function deleteContent(id) {
                if(window.location.host.indexOf('127.0.0.1') != -1) {
                    $.ajax({
                        url: '/api/v1/admin/content/list/?content_id='+id,
                        type: 'delete',
                        processData: false,
                        contentType: false,
//                        headers: {
//                            'X-CSRFToken': getCookie('csrftoken')
//                        },
                        success: function (response) {
                            var result = JSON.parse(response);
                            console.log('result : ', result);
                            if(!result.error) {
                                alert(result.msg);
                                location.reload();
                            } else {
                                alert(result.msg)
                            }
                        }
                    })
                } else {
                    $.ajax({
                        url: '/api/v1/admin/content/list/?content_id='+id,
                        type: 'delete',
                        success: function (response) {
                            var result = JSON.parse(response);
                            console.log('result : ', result);
                            if(!result.error) {
                                alert(result.msg);
                                location.reload();
                            } else {
                                alert(result.msg)
                            }
                        }
                    })
                }
            }

            function getContentList() {
                $.get('/api/v1/admin/content/list/', function (data) {
                    var contentsList = data.contents;
                    console.log(contentsList);
                    for (var i = contentsList.length - 1; i >= 0; i--) {
                        $("table#contentTable").append('' +
                                '<tr style="border-bottom: 1px solid #EFEFEF; height: 60px; line-height: 60px;" id="content' + contentsList[i].id + '">' +
                                '<td style="color: #1F2532;">' + (contentsList[i].index + 1) + '</td>' +
                                '<td style="color: #1F2532;">' + (contentsList[i].tag && contentsList[i].tag != '일반' ? contentsList[i].tag : '-') + '</td>' +
                                '<td style="text-align: left; color: #1F2532;">' + contentsList[i].title + '</td>' +
                                '<td style="color: #1F2532;">' + contentsList[i].hit_count + '</td>' +
                                '<td style="color: #1F2532;">' + contentsList[i].good_job + '</td>' +
                                '<td style="color: #1F2532;">' + (contentsList[i].is_view == true ? 'O' : 'X') + '</td>' +
                                '<td style="color: #1F2532;">' +
                                '<a href="/future/admin/detail?new=false&content_id=' + contentsList[i].id + '"><span style="color: #FB005D; margin: 0 5px;">수정</span></a>' +
                                '<span style="color: #FB005D; margin: 0 5px;">메일발송</span>' +
                                '<span style="color: #FB005D; margin: 0 5px;" onclick="deleteContent(' + contentsList[i].id + ')">삭제</span>' +
                                '</td>' +
                                '</tr>')
                    }
                })
            }

            $(document).ready(function() {
                getContentList()
            })
        </script>
        <header style="border-bottom: 1px solid #e7e7e7; position: initial;">
            <div class="container">
                <div class="left">
                    <img src="http://future-job.net/static/img/symbol.svg" alt="symbol" style="vertical-align: middle;">
                </div>
                <div class="left" style="font-weight: bold; margin-left: 1%;">FUTURE JOB</div>
                <a href="/future/admin"><div class="left" style="font-weight: bold; margin-left: 10%; color: #FF2570;">포스트 관리</div></a>
                <a href="/future/admin/member"><div class="left" style="font-weight: bold; margin-left: 10%; color: initial;">구독자 관리</div></a>
                <a href="/"><div class="right" style="font-weight: bold; float: right; color: initial;">홈으로</div></a>
            </div>
        </header>
        <div class="main_contianer" style="margin: 50px auto;">
            <div style="width: 1140px;margin: auto;">
                <a href="/future/admin/detail?new=true"><div class="btn write">글쓰기</div></a>
            </div>
            <h1 style="max-width: 1140px; margin: 50px auto; font-weight: bold; font-size: 20px">포스트 목록</h1>
            <table id="contentTable" style="width: 100%; max-width: 1140px; margin: 30px auto 0; text-align: center; font-size: 14px;">
                <colgroup>
                    <col style="width: 5%;" />
                    <col style="width: 10%;" />
                    <col style="width: auto;" />
                    <col style="width: 10%;" />
                    <col style="width: 10%;" />
                    <col style="width: 10%;" />
                    <col style="width: 20%;" />
                </colgroup>
                <tr style="border-top: 2px solid #1F2532; border-bottom: 1px solid #EFEFEF; height: 60px; line-height: 60px;">
                    <th style="font-weight: bold; color: #1F2532;">순서</th>
                    <th style="font-weight: bold; color: #1F2532;">카테고리</th>
                    <th style="text-align: left; font-weight: bold; color: #1F2532;">제목</th>
                    <th style="font-weight: bold; color: #1F2532;">조회수</th>
                    <th style="font-weight: bold; color: #1F2532;">Good Job</th>
                    <th style="font-weight: bold; color: #1F2532;">공개여부</th>
                    <th style="font-weight: bold; color: #1F2532;">액션</th>
                </tr>
            </table>
        </div>
    </body>
</html>