{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Future Job</title>
        <link rel="shortcut icon" type="image/png" href="http://future-job.net/static/img/symbol.png">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <script src="https://use.fontawesome.com/fde3c954a7.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_admin.css' %}">

        <!-- http://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="{% static 'picker/moment.min.js' %}"></script>
        <script src="{% static 'picker/bootstrap-datetimepicker.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'picker/bootstrap-datetimepicker.css' %}">

        <!-- include summernote css/js -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    </head>
    <body>
        <script>
            if(((window.location.host == '127.0.0.1') || (window.location.host == 'localhost')) && !getCookie('csrftoken')) {
                $.get('/api/v1/server/status/', function (data, textStatus, request) {
                    console.log(requeset.getResponseHeader('csrftoken'))
                    var x_token = request.getResponseHeader('csrftoken');
                    setCookie('csrftoken', x_token, 365);
                });
            }

            function setCookie(cname, cvalue, exdays) {
              var d = new Date();
              d.setTime(d.getTime() + (exdays*24*60*60*1000));
              var expires = "expires="+ d.toUTCString();
              document.cookie = cname + "=" + encodeURI(cvalue) + ";" + expires + ";path=/";
            }

            function getCookie(c_name) {
                if (document.cookie.length > 0){
                    var c_start = document.cookie.indexOf(c_name + "=");
                    var c_end = false;
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return decodeURI(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
            }

            var getParameterByName = function (name, url) {
                  if (!url) url = window.location.href;
                  name = name.replace(/[\[\]]/g, "\\$&");
                  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                      results = regex.exec(url);
                  if (!results) return null;
                  if (!results[2]) return '';
                  return decodeURIComponent(results[2]);
            }

            function submitPost() {

//                if(!(regexObj.email).test($('input.user_email')[0].value)) {
//                    alert('올바른 이메일 형식이 아닙니다');
//                    return;
//                } else if(!(regexObj.age).test($('input.user_age')[0].value)) {
//                    alert('나이는 숫자만 입력 가능합니다');
//                    return;
//                } else if(!(regexObj.job).test($('input.user_job')[0].value)) {
//                    alert('직업은 한글/영문만 입력 가능합니다');
//                    return;
//                }

                var postData = new FormData();
                postData.append( 'content_no', getParameterByName('content_id'));
                postData.append( 'is_view', $('.is_view')[0].checked ? 1 : 0);
                postData.append( 'category', $('.category_select')[0].value);
                postData.append( 'title', $('.title')[0].value);
                postData.append( 'summary_desc', $('.summary_textarea')[0].value.replace(/\n/g, '<br/>'));
                postData.append( 'thumbnail', $('#thumbnail')[0].files[0]||'');
                postData.append( 'detail_desc', $('.note-editable')[0].innerHTML);
                postData.append( 'reg_time', $("#datetimepicker").data('date').split(' ')[0].split('/')[2]+'-'+$("#datetimepicker").data('date').split(' ')[0].split('/')[1]+'-'+$("#datetimepicker").data('date').split(' ')[0].split('/')[0]+' '+$("#datetimepicker").data('date').split(' ')[1]+':00+09:00');
                postData.append( 'new_post', getParameterByName('new') == 'true' ? 1 : 0);


                if(window.location.host.indexOf('127.0.0.1') != -1) {
                    $.ajax({
                        url: '/api/v1/admin/content/detail/post/',
                        type: getParameterByName('new') == 'true' ? 'post' : 'put',
                        data: postData,
                        processData: false,
                        contentType: false,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        success: function (response) {
                            var result = JSON.parse(response);
                            console.log('result : ', result);
                            if(!result.error) {
                                alert(result.msg);
                                location.href = '/future/admin/';
                            } else {
                                alert(result.msg)
                            }
                        }
                    })
                } else {
                    $.ajax({
                        url: '/api/v1/admin/content/detail/post/',
                        type: getParameterByName('new') == 'true' ? 'post' : 'put',
                        data: postData,
                        success: function (response) {
                            var result = JSON.parse(response);
                            console.log('result : ', result);
                            if(!result.error) {
                                alert(result.msg);
                                location.href = '/future/admin/';
                            } else {
                                alert(result.msg)
                            }
                        }
                    })
                }
            }

            function getPost(flag) {
                if(flag) {
                    $.get('/api/v1/admin/content/detail/post/', function (data) {
                        console.log(data);
                        var response = data.data
                        for (var i = 0; i < response.category_list.length; i++) {
                            $('.category_select').append('<option value="' + response.category_list[i].id + '">' + response.category_list[i].name + '</option>')
                        }
                    })
                } else {
                    $.get('/api/v1/admin/content/detail/post/?content_no=' + getParameterByName('content_id'), function (data) {
                        console.log(data);
                        var response = data.data
                        for (var i = 0; i < response.category_list.length; i++) {
                            $('.category_select').append('<option value="' + response.category_list[i].id + '">' + response.category_list[i].name + '</option>')
                        }

                        $('.is_view')[0].checked = response.is_view;
                        $('.category_select')[0].value = response.category;
                        $('.title')[0].value = response.title;
                        $('.summary_textarea')[0].value = response.summary_desc.replace(/<br\/>/g, '\n');
                        $('.note-editable')[0].innerHTML = response.detail_desc;
                        $('.thumbnail_container').append('<div>' + '기존 썸네일' + '</div>');
                        $('.thumbnail_container').append('<div style="height: 300px; width: 100%; background-repeat: no-repeat; background-size: contain; background-position: left, center; background-image: url(/future/upload/' + response.thumbnail + ')"></div>');
                    })
                }
            }

            $(document).ready(function() {
                if(getParameterByName('new') == 'true') {
                    document.getElementById('postTitle').innerHTML = '포스트 작성';
                    document.getElementsByClassName('register')[0].innerHTML = '등록하기';
                    getPost(true);
                } else {
                    getPost(false);
                    document.getElementsByClassName('register')[0].innerHTML = '수정하기';
               }
            })
        </script>
        <header style="border-bottom: 1px solid #e7e7e7; position: initial;">
            <div class="container">
                <div class="left">
                    <img src="http://future-job.net/static/img/symbol.svg" alt="symbol" style="vertical-align: middle;">
                </div>
                <div class="left" style="font-weight: bold; margin-left: 1%;">FUTURE JOB</div>
                <a href="/future/admin"><div class="left" style="font-weight: bold; margin-left: 10%; color: #FF2570;">포스트 관리</div></a>
                <a href="/future/admin/member"><div class="left" style="font-weight: bold; margin-left: 10%; color: initial;">구독자 관리</div></a>
                <a href="/"><div class="right" style="font-weight: bold; float: right; color: initial;">홈으로</div></a>
            </div>
        </header>
        <div class="main_contianer" style="max-width: 1140px; margin: 50px auto;">
            <h1 id="postTitle" style="max-width: 1140px; margin: 50px auto; font-weight: bold; font-size: 20px; text-align: center;">포스트 수정</h1>
            <div class="is_view_container">
                <input type="checkbox" class="is_view" name="is_view"/>
                <label for="is_view" style="">공개여부</label>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div id="datetimepicker"></div>
                    </div>
                </div>
            </div>
            <div class="order_container content_container">
                <h3 class="container_title">순위(필수)</h3>
            </div>
            <div class="category_container content_container">
                <h3 class="container_title">카테고리(필수)</h3>
                <select class="category_select" style="width: 100%"></select>
            </div>
            <div class="title_container content_container">
                <h3 class="container_title">제목</h3>
                <input class="title" type="text" style="width: 100%"/>
            </div>
            <div class="summary_container content_container">
                <h3 class="container_title">요약글</h3>
                <textarea class="summary_textarea" style="width: 100%"></textarea>
            </div>
            <div class="thumbnail_container content_container">
                <h3 class="container_title">썸네일 이미지</h3>
                <label class="displaynone" htmlFor='thumbnail'>썸네일 등록</label>
                <input id="thumbnail" type="file" accept="image/*" name="thumbnail" />
            </div>
            <div class="desc_container content_container">
                <h3 class="container_title">내용</h3>
                <textarea id="summernote" name="editordata"></textarea>
                <!--textarea name="editor1"></textarea-->

            </div>
            <div class="button_wrapper">
                <div class="register btn" onclick="submitPost()"></div>
            </div>
        </div>
        <script>

            $(document).ready(function() {
                $(function () {
                    $('#datetimepicker').datetimepicker({
                        inline: true,
                        sideBySide: true
                    });
                });

                $('#summernote').summernote({
                    minHeight: 700,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true                  // set focus to editable area after initializin
                });

                console.log($("#datetimepicker").data("datetimepicker"));
            });
        </script>
    </body>
</html>