{% load i18n static %}

<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Future Job</title>
        <meta property="og:title" content="[Future Job]{{ title }}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="http://future-job.net/future/upload/{{ thumbnail }}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/symbol.png' %}">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112905619-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-112905619-1');
        </script>


        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script src="https://use.fontawesome.com/fde3c954a7.js"></script>

        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId          : 146158319429006,
                    xfbml            : true,
                    version          : 'v2.11'
                });
            };

            (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "https://connect.facebook.net/ko_KR/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            Kakao.init('96478391819fe28de585688e34300cac');
        </script>
    </head>
    <body>
        <script>
            function joinUser() {
                const regexObj = {
                    email : /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/,
                    age : /^(\d|[^-]-)+$/,
                    job : /^([ㄱ-ㅎ가-힣a-zA-Z\s\u318D\u119E\u11A2\u2022\u2025a\u00B7\uFE55])+$/,
                }

                if(!(regexObj.email).test($('input.user_email')[0].value)) {
                    alert('올바른 이메일 형식이 아닙니다');
                    return;
                } else if(!(regexObj.age).test($('input.user_age')[0].value)) {
                    alert('나이는 숫자만 입력 가능합니다');
                    return;
                } else if(!(regexObj.job).test($('input.user_job')[0].value)) {
                    alert('직업은 한글/영문만 입력 가능합니다');
                    return;
                }

                var postData = {
                    email: $('input.user_email')[0].value,
                    age: $('input.user_age')[0].value,
                    job: $('input.user_job')[0].value
                }
                if(window.location.host.indexOf('127.0.0.1') != -1) {
                    $.ajax({
                        url: '/api/v1/member/join/',
                        type: 'post',
                        data: postData,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        success: function (response) {
                            var result = JSON.parse(response);
                            console.log('result : ', result);
                            if(!result.error) {
                                alert("구독신청이 완료되었습니다");
                                initInput();
                                modalClose();
                            } else {
                                alert(result.msg)
                            }
                        }
                    })
                } else {
                    $.post('/api/v1/member/join/', postData, function (response) {
                        var result = JSON.parse(response);
                        console.log('result : ', result);
                        if(!result.error) {
                            alert("구독신청이 완료되었습니다");
                            initInput();
                            $('.modal_container button.close').click()
                        } else {
                            alert(result.msg)
                        }
                    })
                }
            }

            function modalClose() {
                $('.modal_container button.close').click()
            }

            function initInput() {
                $('input.user_email')[0].value = '';
                $('input.user_age')[0].value = '';
                $('input.user_job')[0].value = '';
            }

            function sendEmail() {
                var postData = { content_no: getParameterByName('content_no') };
                if(window.location.host.indexOf('127.0.0.1') != -1) {
                    $.ajax({
                        url: '/api/v1/send/email/',
                        type: 'post',
                        data: postData,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        success: function (response) {
                            var result = JSON.parse(response);
                            console.log('result : ', result);
                            if(!result.error) {
                                alert("이메일이 발송되었습니다");
                            } else {
                                alert(result.msg)
                            }
                        }
                    })
                } else {
                    $.post('/api/v1/send/email/', postData, function (response) {
                        var result = JSON.parse(response);
                        console.log('result : ', result);
                        if(!result.error) {
                            alert("이메일이 발송되었습니다");
                        } else {
                            alert(result.msg)
                        }
                    })
                }
            }

            function fbShare() {
                  FB.ui({
                        method: 'share',
                        mobile_iframe: true,
                        href: location.href,
                  }, function(response){});
            }

            function kakaoShare() {
                var isMobile = /android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase());
                if (isMobile) {
                    var firstImg = $(".imageblock:first-of-type img")
                    var contents = ""
                    if (firstImg.attr("src")) {
                        var firstImgSrc = firstImg.attr("src")
                        var firstImgRatio = parseInt(firstImg.css("height")) / parseInt(firstImg.css("width"))
                        if (firstImgRatio <= 0.27) var firstImgRatio = 0.27
                    } else {
                        var firstImgSrc = location.origin + "/favicon.ico"
                        var firstImgRatio = 1
                    }

                    Kakao.Link.sendTalkLink({
                        label: "{{title}}",
                        image: {
                            src: "http://future-job.net/future/upload/{{ thumbnail }}",
                            width: 300,
                            height: parseInt(300 * firstImgRatio)
                        }
                    })
                } else {
                    copyLink();
                }
            }

            function twitterShare() {
                var url = "http://twitter.com/intent/tweet?" + "&hashtags=퓨처잡,futurejob&text=[Future Job]{{title}}&url=" + location.href;
                window.open(url, "트위터에 공유하기")
            }


            var getParameterByName = function (name, url) {
                  if (!url) url = window.location.href;
                  name = name.replace(/[\[\]]/g, "\\$&");
                  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                      results = regex.exec(url);
                  if (!results) return null;
                  if (!results[2]) return '';
                  return decodeURIComponent(results[2]);
            }

            function setCookie(cname, cvalue, exdays) {
              var d = new Date();
              d.setTime(d.getTime() + (exdays*24*60*60*1000));
              var expires = "expires="+ d.toUTCString();
              document.cookie = cname + "=" + encodeURI(cvalue) + ";" + expires + ";path=/";
            }

            function getCookie(c_name) {
                if (document.cookie.length > 0){
                    var c_start = document.cookie.indexOf(c_name + "=");
                    var c_end = false;
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return decodeURI(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
            }

            function copyTextToClipboard(text, index) {
                var textArea = document.createElement("textarea");
                textArea.value = text;
                if(index) {
                    document.getElementById("Modal_share").appendChild(textArea);
                } else {
                    document.body.appendChild(textArea);
                }
                textArea.select();

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Copying text command was ' + msg + ' : ' + text);
                    alert("주소가 복사되었습니다.\n원하는 곳에 붙여넣기 해주세요.");
                } catch (err) {
                    console.log('Oops, unable to copy');
                }
                if(index) {
                    document.getElementById("Modal_share").removeChild(textArea);
                } else {
                    document.body.removeChild(textArea);
                }
            }

            function copyLink(index) {
                console.log(location.href);
                copyTextToClipboard(location.href, index);
            }

            if(((window.location.host == '127.0.0.1') || (window.location.host == 'localhost')) && !getCookie('csrftoken')) {
                $.get('/api/v1/server/status/', function (data, textStatus, request) {
                    console.log(requeset.getResponseHeader('csrftoken'))
                    var x_token = request.getResponseHeader('csrftoken');
                    setCookie('csrftoken', x_token, 365);
                });
            }

            function clickGoodjob() {
                console.log(event.target.className)
                if (event.target.className.indexOf("left") != -1) {
                    alert("이미 Good Job을 눌러주셨습니다.")
                    return;
                } else {
                    var postData = {
                        content_no: getParameterByName('content_no')
                    }
                    if (window.location.host.indexOf('127.0.0.1') != -1) {
                        $.ajax({
                            url: '/api/v1/content/like/',
                            type: 'post',
                            data: postData,
                            headers: {
                                'X-CSRFToken': getCookie('csrftoken')
                            },
                            success: function (response) {
                                result = JSON.parse(response)
                                console.log('result : ', result);
                                if(!result.error) {
                                    // alert(result.msg);
                                    $('#goodJobBtn').html("Good Job " + result.data.good_job)
                                    $("#goodJobBtn")[0].className = 'left';
                                    $("#goodJobImg")[0].src = $("#goodJobImg")[0].src.replace('before', 'after');
                                }
                            }
                        })
                    } else {
                        $.post('/api/v1/content/like/', postData, function (response) {
                            result = JSON.parse(response)
                            console.log('result : ', result);
                            if(!result.error) {
                                // alert(result.msg);
                                event.target.innerHTML = "Good Job " + result.data.good_job;
                                $("#goodJobBtn")[0].className = 'left';
                                $("#goodJobImg")[0].src = $("#goodJobImg")[0].src.replace('before', 'after');
                            }
                        })
                    }
                }
            }

            $.get('/api/v1/content/detail/?content_no='+getParameterByName('content_no'),function(data) {
                var detailInfo = data.data;
                var listNum = (getParameterByName('list_no') && getParameterByName('list_no').length == 1) ? '0' + getParameterByName('list_no') : getParameterByName('list_no') ? getParameterByName('list_no') : '';
                console.log(detailInfo);

                $('.section.banner').css('backgroundImage', 'linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./future/upload/' + detailInfo.thumbnail + ')');
                $('h1.num').html(listNum);
                $('h2.title').html(detailInfo.title);
                $('h5.date').html(detailInfo.reg_time.split(' ')[0].replace(/-/g,'. '));
                $('p.contents').html(detailInfo.detail_desc);
                if(detailInfo.tag && detailInfo.tag != '일반') {
                    $('.container h5.tag').html(detailInfo.tag);
                } else {
                    $('.container h5.tag').css('display', 'none');
                }

                var idList = [];
                var contentsList = data.data.contents;
                for(var i=1; i<=contentsList.length; i++) {
                    var index = (i.toString().length ==1) ? "0"+i : i;
                    $("ul.modal-body-list").append(''+
                            '<li>' +
                                '<a href="detail?list_no='+ index +'&content_no=' + contentsList[i-1].id + '">' +
                                    '<div class="container">' +
                                        '<div class="menu_title">' +
                                            '<h2 class="num">' + index + '</h2>' +
                                            '<h5 class="title">' + contentsList[i-1].title +
                                                (contentsList[i-1].tag && contentsList[i-1].tag != '일반' ? '<span class="tag">' + contentsList[i-1].tag + '</span>' : '') +
                                            '</h5>' +
                                        '</div>' +
                                        '<div class="thumbnail_area">' +
                                            '<div class="thumbnail_'+ index + '" style="height: 100%; background-position: center; background-size: cover; background-image: url(./future/upload/' + contentsList[i-1].thumbnail +')"></div>' +
                                        '</div>' +
                                    '</div>' +
                                '</a>' +
                            '</li>')

                    idList.push(contentsList[i-1].id.toString())
                }

                var prevContent = idList.indexOf(getParameterByName('content_no')) ? contentsList[idList.indexOf(getParameterByName('content_no'))-1] : '';
                var nextContent = idList.indexOf(getParameterByName('content_no')) != idList.length -1 ? contentsList[idList.indexOf(getParameterByName('content_no'))+1] : '';

                if(prevContent) {
                    $('.prev a')[0].href = '/detail?list_no=' + (prevContent.index + 1) + '&content_no=' + prevContent.id;
                    $('.prev a h5.title').html(prevContent.title);
                    $('.prev a div.prev_thumbnail').css('background-image', 'url(./future/upload/'+ prevContent.thumbnail +')');
                } else {
                    $('.prev').css('display', 'none')
                    $('.next').css('margin-left', '50%')
                }
                if(nextContent) {
                    $('.next a')[0].href = '/detail?list_no=' + (nextContent.index + 1) + '&content_no=' + nextContent.id;
                    $('.next a h5.title').html(nextContent.title);
                    $('.next a div.next_thumbnail').css('background-image', 'url(./future/upload/'+ nextContent.thumbnail +')');
                } else {
                    $('.next').css('display', 'none')
                }
            })

            function modalOpen() {
                console.log("Test-1")
                document.getElementById('hiddenModalBtn').click();
                setTimeout(function(){ document.getElementsByClassName('modal_menu_close')[0].click() } , 500);
                setTimeout(function(){ document.body.className="modal-open" },1000);
            }

            $(document).ready(function() {
                var clipboard = new Clipboard('.clipboard-btn');
                clipboard.on('success', function(e) {
                    console.log(e);
                });
                clipboard.on('error', function(e) {
                    console.log(e);
                });
                $('body').append('<div class="displaynone clipboard-btn" data-clipboard-text="' + window.location.href + '"></div>');
            })

//            sendEmail();
        </script>
        <header class="detail_header">
            <div class="container">
                <div class="left">
                    <a href="/">
                        <img src="{% static 'img/symbol.svg' %}" alt="symbol">
                        <img src="{% static 'img/logo_b.svg' %}" alt="logo_white">
                    </a>
                </div>
                <div class="nav">
                    <div class="trigger" data-toggle="modal" data-target="#Modal_menu">
                        <img src="{% static 'img/menu_black.svg' %}" class="menu_common menu_web menu_mobile">
                    </div>
                </div>
            </div>
        </header>

        <div class="detail_contents">
            <div class="section banner">
                <div class="container">
                    <h1 class="num">02</h1>
                    <h2 class="title"></h2>
                    <h5 class="tag"></h5>
                    <h5 class="date"></h5>
                    <div class="link_area">
                        <h3 class="subscription" data-toggle="modal" data-target="#Modal_subscription">구독하기</h3>
                        <a><img src="{% static 'img/share.svg' %}" alt="share icon" data-toggle="modal" data-target="#Modal_share"></a>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="container">
                    <p class="contents">

                    </p>
                    <div class="good_btn_area">
                        <h5>이 글이 도움이 되었다면 아래 버튼을 클릭해주세요.</h5>
                        <div class="icon">
                            <img id="goodJobImg" src="{% static 'img/godjob_before.svg' %}">
                            <button id="goodJobBtn" type="button" name="good button" onclick="clickGoodjob()">Good Job {{goodjob}}</button>
                        </div>
                        <h5>공유하기</h5>
                        <div class="share">
                            <a onclick="fbShare()"><img src="{% static 'img/detail_facebook.svg' %}"></a>
                            <a onclick="twitterShare()"><img src="{% static 'img/detail_twitter.svg' %}"></a>
                            <a onclick="kakaoShare()"><img src="{% static 'img/detail_kakao.svg' %}"></a>
                            <a onclick="copyLink()"><img src="{% static 'img/detail_link.svg' %}"></a>
                        </div>

                        <div class="prev_next">
                            <div class="prev_next_common prev">
                                <a href="#none">
                                    <h5 class="prev_next_title"><i class="fa fa-angle-left" aria-hidden="true"></i> 이전글</h5>
                                    <div class="thumbnail_common prev_thumbnail"></div>
                                    <h5 class="title"></h5>
                                </a>
                            </div>
                            <div class="prev_next_common next">
                                <a href="#none">
                                    <h5 class="prev_next_title">다음글 <i class="fa fa-angle-right" aria-hidden="true"></i></h5>
                                    <div class="thumbnail_common next_thumbnail"></div>
                                    <h5 class="title"></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <h5>© 2017 Future-Job All rights reserved</h5>
                <a href="#"><img src="{% static 'img/top_btn.svg' %}" alt="top button"></a>
            </div>
        </footer>


        <!-- Menu Modal -->
        <div class="modal fade" id="Modal_menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-menu" role="document">
                <div class="modal-content modal-content-menu">
                    <div class="modal_menu_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="index.html">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <div class="menu_modal_right">
                                <div class="displaynone" data-toggle="modal" data-target="#Modal_subscription" id="hiddenModalBtn"></div>
                                <div class="subscription_btn" onclick="modalOpen()">
                                    <h3>구독하기</h3>
                                </div>
                                <button type="button" class="close modal_menu_close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="menu">
                            <ul class="modal-body-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 구독하기 Modal -->
        <div class="modal fade" id="Modal_subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-subscription" role="document">
                <div class="modal-content modal-content-subscription">
                    <div class="modal_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="/">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="contants">
                            <h1>구독받으실 이메일주소와 정보를 입력해주세요.</h1>
                            <div class="input_form">
                                <h5>나이와 직업 입력은 선택사항입니다.</h5>
                                <input type="email" placeholder="이메일 주소 입력" name="이메일" class="critical_item user_email">
                                <input type="text" placeholder="나이를 입력해주세요." name="나이" class="user_age">
                                <input type="text" placeholder="현재 직업을 입력해주세요." name="직업" class="user_job">
                                <input type="submit" name="입력" value="확인" onclick="joinUser()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal_share -->
        <div class="modal fade" id="Modal_share" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-share" role="document">
                <div class="modal-content modal-content-share">
                    <h3 class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></h3>
                    <div class="modal-body">
                        <h1>POST 공유하기</h1>
                        <h5>현재 글을 다른 친구들에게 공유해보세요.</h5>
                        <div class="sns_area">
                            <a onclick="fbShare()"><img src="{% static 'img/facebook.svg' %}"></a>
                            <a onclick="twitterShare()"><img src="{% static 'img/twitter.svg' %}"></a><br>
                            <a onclick="kakaoShare()"><img src="{% static 'img/kakao.svg' %}"></a>
                            <a onclick="copyLink('modal')"><img src="{% static 'img/link.svg' %}"></a>
                        </div>
                        
                    </div>
                    <h3 class="close_btn" data-dismiss="modal">닫기</h3>
                </div>
            </div>
        </div>
    </body>
</html>