{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Future Job</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/symbol.png' %}">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        
        <script src="https://use.fontawesome.com/fde3c954a7.js"></script>
    </head>
    
    <body>
        <header>
            <div class="container">
                <div class="left">
                    <a href="/">
                        <img src="{% static 'img/symbol.svg' %}" alt="symbol">
                        <img src="{% static 'img/logo_b.svg' %}" alt="logo_white">
                    </a>
                </div>
               
            </div>
        </header>
        <div class="main_body">
            <div class="background_area">
                <div class="container">
                    <h1>미래의 직업은<br>더이상 미래가 아닙니다.</h1>
                    <h3>퓨처잡에서 다양한 직업들을 <br>스터디 해보세요.</h3>
                </div>
                <div class="container_bottom">
                    <a href="/" class="start-btn">시작하기</a>
                </div>
            </div>
        </div>
    </body>
</html>