{% load i18n static %}


<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Future Job</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/symbol.png' %}">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script src="https://use.fontawesome.com/fde3c954a7.js"></script>

    </head>

    <body>
        <script>
            function joinUser() {
                var postData = {
                    email: 'kamjik123@naver.com',
                    age: 33,
                    job: '프로그래머'
                }
                $.ajax({
                    url: 'http://127.0.0.1:8888/api/v1/member/join/',
                    type: 'post',
                    data: postData,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    success: function (result) {
                        console.log('result : ', result);
                    }
                })
            }

            function setCookie(cname, cvalue, exdays) {
              var d = new Date();
              d.setTime(d.getTime() + (exdays*24*60*60*1000));
              var expires = "expires="+ d.toUTCString();
              document.cookie = cname + "=" + encodeURI(cvalue) + ";" + expires + ";path=/";
            }

            function getCookie(c_name) {
                if (document.cookie.length > 0){
                    var c_start = document.cookie.indexOf(c_name + "=");
                    var c_end = false;
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return decodeURI(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
            }

            if(!getCookie('csrftoken')) {
                $.get('http://127.0.0.1:8888/api/v1/server/status/', function (data, textStatus, request) {
                    console.log(requeset.getResponseHeader('csrftoken'))
                    var x_token = request.getResponseHeader('csrftoken');
                    setCookie('csrftoken', x_token, 365);
                });
            }

            setTimeout(function () {
                        joinUser()
                    }, 3000);

            $.get('http://127.0.0.1:8888/api/v1/content/list/', function(data) {
                console.log(data);
                console.log(data.contents);
                var contentsList = data.contents;
                console.log(contentsList);
                for(var i=1; i<=contentsList.length; i++) {
                    var index = (i.toString().length == 1) ? "0"+i : i;
                    $("ul.carousel-indicators").append('' +
                            '<li data-target="#carouselExampleIndicators" data-slide-to="'+ (i-1) + '"' + ((i == 1) ? ' class="active">' : '>') +
                                '<span class="num">' + index + '</span>' +
                            '</li>');
                    $("ul.modal-body-list").append(''+
                            '<li>' +
                                '<a href="detail.html?list_no='+ index +'&content_no=' + contentsList[i-1].id + '">' +
                                    '<div class="container">' +
                                        '<div class="menu_title">' +
                                            '<h2 class="num">' + index + '</h2>' +
                                            '<h5 class="title">' + contentsList[i-1].title +
                                                (contentsList[i-1].tag && contentsList[i-1].tag != '일반' ? '<span class="tag">' + contentsList[i-1].tag + '</span>' : '') +
                                            '</h5>' +
                                        '</div>' +
                                        '<div class="thumbnail_area">' +
                                            '<div class="thumbnail_'+ index + '"></div>' +
                                        '</div>' +
                                    '</div>' +
                                '</a>' +
                            '</li>');

                    $("div.carousel-inner").append('' +
                        '<div style="background-image: url(./future/upload/' + contentsList[i-1].thumbnail + ')" class="carousel-item carousel-item-'+ index + ((i==1) ? ' active">' : '">') +
                            '<div class="contents_common">' +
                                '<a href="detail.html?list_no='+ index +'&content_no=' + contentsList[i-1].id + '">' +
                                    '<h1>' + contentsList[i-1].title + '</h1>' +
                                    (contentsList[i-1].tag && contentsList[i-1].tag != '일반' ? '<h5>' + contentsList[i-1].tag +  '</h5>' : '') +
                                    '<p>' + contentsList[i-1].summary_desc + '</p>' +
                                '</a>' +
                            '</div>' +
                            '<div class="more">' +
                                '<a href="detail.html?list_no='+ index + '&content_no=' + contentsList[i-1].id +'">더보기<br><img src=""></a>' +
                            '</div>' +
                        '</div>');
                }

            })

            $(function(){
                // Bind the swipeleftHandler callback function to the swipe event on div.box
                $( "div.main_contianer" ).on( "swipeleft", swipeleftHandler );
                $( "div.main_contianer" ).on( "swipeRight", swipeRightHandler );

                // Callback function references the event target and adds the 'swipeleft' class to it
                function swipeleftHandler(event) {
                    $('carousel-control-prev').click();
                }
                function swipeRightHandler(event) {
                    $('carousel-control-next').click();
                }
            });

        </script>
        <header>
            <div class="container">
                <div class="left">
                    <a href="list.html">
                        <img src="{% static 'img/symbol.svg' %}" alt="symbol">
                        <img src="{% static 'img/logo_w.svg' %}" alt="logo_white">
                    </a>
                </div>
                <div class="nav">
                    <div class="trigger" data-toggle="modal" data-target="#Modal_menu">
                        <img src="{% static 'img/menu_white.svg' %}" class="menu_common menu_web menu_mobile">
                    </div>
                </div>
            </div>
        </header>
        <div class="main_contianer">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ul class="carousel-indicators"></ul>
                <div class="carousel-inner"></div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <img src="{% static 'img/left.svg' %}" alt="left">
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <img src="{% static 'img/right.svg' %}" alt="right">
                </a>
            </div>
        </div>

        <!-- Menu Modal -->
        <div class="modal fade" id="Modal_menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-menu" role="document">
                <div class="modal-content modal-content-menu">
                    <div class="modal_menu_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="index.html">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <div class="menu_modal_right">
                                <div class="subscription_btn" data-toggle="modal" data-target="#Modal_subscription">
                                    <h3>구독하기</h3>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="menu">
                            <ul class="modal-body-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 구독하기 Modal -->
        <div class="modal fade" id="Modal_subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-subscription" role="document">
                <div class="modal-content modal-content-subscription">
                    <div class="modal_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="index.html">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="contants">
                            <h1>구독받으실 이메일주소와 정보를 입력해주세요.</h1>
                            <div class="input_form">
                                <h5>나이와 직업 입력은 선택사항입니다.</h5>
                                <input type="email" placeholder="이메일 주소 입력" name="이메일" class="critical_item">
                                <input type="text" placeholder="나이를 입력해주세요." name="나이">
                                <input type="text" placeholder="현재 직업을 입력해주세요." name="직업">
                                <input type="submit" name="입력" value="확인">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>