{% load i18n static %}


<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Future Job, 퓨처잡</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/symbol.png' %}">
        <link rel="canonical" href="http://future-job.net">

        <meta property="og:title" content="Future Job">
        <meta property="og:url" content="http://future-job.net" />
        <meta property="og:description" content="퓨처잡, See the Future Job, Change Your Life">
        <meta property="og:image" content="{% static 'img/home.jpg' %}">

        <meta property="title" content="Future Job">
        <meta property="description" content="퓨처잡, See the Future Job, Change Your Life">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112905619-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-112905619-1');
        </script>


        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script src="https://use.fontawesome.com/fde3c954a7.js"></script>

    </head>

    <body>
        <script>
            function detectswipe(el,func) {
                swipe_det = new Object();
                swipe_det.sX = 0;
                swipe_det.sY = 0;
                swipe_det.eX = 0;
                swipe_det.eY = 0;
                var min_x = 20;  //min x swipe for horizontal swipe
                var max_x = 40;  //max x difference for vertical swipe
                var min_y = 40;  //min y swipe for vertical swipe
                var max_y = 50;  //max y difference for horizontal swipe
                var direc = "";
                var ele = document.getElementById(el);
                ele.addEventListener('touchstart',function(e){
                var t = e.touches[0];
                swipe_det.sX = t.screenX;
                swipe_det.sY = t.screenY;
                },false);
                ele.addEventListener('touchmove',function(e){
                e.preventDefault();
                var t = e.touches[0];
                swipe_det.eX = t.screenX;
                swipe_det.eY = t.screenY;
                },false);
                ele.addEventListener('touchend',function(e){
                //horizontal detection
                if ((((swipe_det.eX - min_x > swipe_det.sX) || (swipe_det.eX + min_x < swipe_det.sX)) && ((swipe_det.eY < swipe_det.sY + max_y) && (swipe_det.sY > swipe_det.eY - max_y)))) {
                  if(swipe_det.eX - swipe_det.sX > 80) direc = "r";
                  else if(swipe_det.sX - swipe_det.eX > 80) direc = "l";
                }
                //vertical detection
                if ((((swipe_det.eY - min_y > swipe_det.sY) || (swipe_det.eY + min_y < swipe_det.sY)) && ((swipe_det.eX < swipe_det.sX + max_x) && (swipe_det.sX > swipe_det.eX - max_x)))) {
                  if(swipe_det.eY > swipe_det.sY) direc = "d";
                  else direc = "u";
                }

                if (direc != "") {
                  if(typeof func == 'function') func(el,direc);
                }
                direc = "";
                },false);
            }

            function myfunction(el,d) {
                if(d == 'r') {
                    $('.carousel-control-prev').click();
                } else if(d == 'l') {
                    $('.carousel-control-next').click();
                }
                console.log("you swiped on element with id '"+el+"' to "+d+" direction");
            }
            function joinUser() {
                const regexObj = {
                    email : /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/,
                    age : /^(\d|[^-]-)+$/,
                    job : /^([ㄱ-ㅎ가-힣a-zA-Z\s\u318D\u119E\u11A2\u2022\u2025a\u00B7\uFE55])+$/,
                }

                if(!(regexObj.email).test($('input.user_email')[0].value)) {
                    alert('올바른 이메일 형식이 아닙니다');
                    return;
                } else if(!(regexObj.age).test($('input.user_age')[0].value)) {
                    alert('나이는 숫자만 입력 가능합니다');
                    return;
                } else if(!(regexObj.job).test($('input.user_job')[0].value)) {
                    alert('직업은 한글/영문만 입력 가능합니다');
                    return;
                }

                var postData = {
                    email: $('input.user_email')[0].value,
                    age: $('input.user_age')[0].value,
                    job: $('input.user_job')[0].value
                }
                if(window.location.host.indexOf('127.0.0.1') != -1) {
                    $.ajax({
                        url: '/api/v1/member/join/',
                        type: 'post',
                        data: postData,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        success: function (response) {
                            var result = JSON.parse(response);
                            console.log('result : ', result);
                            if(!result.error) {
                                alert("구독신청이 완료되었습니다");
                                initInput();
                                $('.modal_container button.close').click()
                            } else {
                                alert(result.msg)
                            }
                        }
                    })
                } else {
                    $.post('/api/v1/member/join/', postData, function (response) {
                        var result = JSON.parse(response);
                        console.log('result : ', result);
                        if(!result.error) {
                            alert("구독신청이 완료되었습니다");
                            initInput();
                            $('.modal_container button.close').click()
                        } else {
                            alert(result.msg)
                        }
                    })
                }
            }

            function initInput() {
                $('input.user_email')[0].value = '';
                $('input.user_age')[0].value = '';
                $('input.user_job')[0].value = '';
            }

            function setCookie(cname, cvalue, exdays) {
              var d = new Date();
              d.setTime(d.getTime() + (exdays*24*60*60*1000));
              var expires = "expires="+ d.toUTCString();
              document.cookie = cname + "=" + encodeURI(cvalue) + ";" + expires + ";path=/";
            }

            function getCookie(c_name) {
                if (document.cookie.length > 0){
                    var c_start = document.cookie.indexOf(c_name + "=");
                    var c_end = false;
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return decodeURI(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
            }

            function replaceAll(str, searchStr, replaceStr) {
                console.log(str, searchStr, replaceStr)
                return str.split(searchStr).join(replaceStr);
            }

            function activeScroll() {
                setTimeout(function(){$('.carousel-indicators').animate({scrollLeft: (document.getElementsByClassName('active')[0].offsetLeft - document.getElementsByClassName('carousel-indicators')[0].offsetWidth/2)}, 200)}, 10);
            }

            if(((window.location.host == '127.0.0.1') || (window.location.host == 'localhost')) && !getCookie('csrftoken')) {
                $.get('/api/v1/server/status/', function (data, textStatus, request) {
                    console.log(requeset.getResponseHeader('csrftoken'))
                    var x_token = request.getResponseHeader('csrftoken');
                    setCookie('csrftoken', x_token, 365);
                });
            }

            $(function(){
                // Bind the swipeleftHandler callback function to the swipe event on div.box
                $( "div.main_contianer" ).on( "swipeleft", swipeleftHandler );
                $( "div.main_contianer" ).on( "swipeRight", swipeRightHandler );

                // Callback function references the event target and adds the 'swipeleft' class to it
                function swipeleftHandler(event) {
                    $('carousel-control-prev').click();
                }
                function swipeRightHandler(event) {
                    $('carousel-control-next').click();
                }
            });

            $.get('/api/v1/content/list', function(data) {
                console.log("GET: ", data)

//            $(document).ready(function() {
//                var contentsList = JSON.parse("{{contents_list}}".replace(/u&#39;/g, '"').replace(/&#39;/g, '"').replace(/u&quot;/g, '"').replace(/&quot;/g, '"'));
                var contentsList = data.contents;
                for(var i=1; i<=contentsList.length; i++) {
                    var index = (i.toString().length == 1) ? "0"+i : i;
                    $("ul.carousel-indicators").append('' +
                            '<li data-target="#carouselExampleIndicators" onclick="activeScroll()" data-slide-to="'+ (i-1) + '"' + ((i == 1) ? ' class="active">' : '>') +
                                '<span class="num">' + index + '</span>' +
                            '</li>');
                    $("ul.modal-body-list").append(''+
                            '<li>' +
                                '<a href="detail?list_no='+ i +'&content_no=' + contentsList[i-1].id + '">' +
                                    '<div class="container">' +
                                        '<div class="menu_title">' +
                                            '<h2 class="num">' + index + '</h2>' +
                                            '<h5 class="title">' + contentsList[i-1].title +
                                                (contentsList[i-1].tag && contentsList[i-1].tag != '일반' ? '<span class="tag">' + contentsList[i-1].tag + '</span>' : '') +
                                            '</h5>' +
                                        '</div>' +
                                        '<div class="thumbnail_area">' +
                                            '<div class="thumbnail_'+ index + '" style="height: 100%; background-position: center; background-size: cover; background-image: url(./future/upload/' + contentsList[i-1].thumbnail +')"></div>' +
                                        '</div>' +
                                    '</div>' +
                                '</a>' +
                            '</li>');

                    var tempHeight = window.innerHeight;
                    var a = setInterval(function() {
                        $(window).scrollTop(-1);
                        resize();
                    }, 500); // Don't lower more than 500ms, otherwise there will be animation-problems with the  Safari toolbar

                    $(window).on('resize', function() {
                        resize();
                    });

//                    setTimeout(function() {
//                        $('.carousel-item').css('height', window.innerHeight + 'px');
//                    }, 1000)

                    var resize = function() {
                        if(window.innerHeight != tempHeight) {
                            tempHeight = window.innerHeight;
                            $('.carousel-item').css('height', tempHeight + 'px');
                        }
                    };

                    var availHeight = window.screen.availHeight + 'px';
                    $("div.carousel-inner").append('' +
                        '<div style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./future/upload/' + contentsList[i-1].thumbnail + ') no-repeat center; background-size: cover;" class="carousel-item carousel-item-'+ index + ((i==1) ? ' active">' : '">') +
                            '<div class="contents_common">' +
                                '<a href="detail?list_no='+ i +'&content_no=' + contentsList[i-1].id + '">' +
                                    '<h1>' + contentsList[i-1].title + '</h1>' +
                                    (contentsList[i-1].tag && contentsList[i-1].tag != '일반' ? '<h5>' + contentsList[i-1].tag +  '</h5>' : '') +
                                    '<p>' + replaceAll(contentsList[i-1].summary_desc.toString(), '&lt;br/&gt;','<br/>') + '</p>' +
                                '</a>' +
                            '</div>' +
                            '<div class="more">' +
                                '<a href="detail?list_no='+ i + '&content_no=' + contentsList[i-1].id +'">더보기<br><img src="{% static 'img/more.svg' %}"></a>' +
                            '</div>' +
                        '</div>');
                }
                $("ul.carousel-indicators").append('' +
                            '<li><span>&nbsp;</span></li>');
            })

            function modalOpen() {
                document.getElementsByClasfisName('modal_menu_close')[0].click();
                document.body.className="modal-open";
            }

            $(document).ready(function() {
                setTimeout(function(){
                    $('.carousel-item').css('height', window.innerHeight + 'px');
                }, 500)

                detectswipe('Inner',myfunction);
            })

        </script>
        <header>
            <div class="container">
                <div class="left">
                    <a href="/">
                        <img src="{% static 'img/symbol.svg' %}" alt="symbol">
                        <img src="{% static 'img/logo_w.svg' %}" alt="logo_white">
                    </a>
                </div>
                <div class="nav">
                    <div class="trigger" data-toggle="modal" data-target="#Modal_menu">
                        <img src="{% static 'img/menu_white.svg' %}" class="menu_common menu_web menu_mobile">
                    </div>
                </div>
            </div>
        </header>
        <div class="main_contianer">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ul class="carousel-indicators"></ul>
                <div class="carousel-inner" id="Inner"></div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" onclick="activeScroll()">
                    <img src="{% static 'img/left.svg' %}" alt="left">
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" onclick="activeScroll()">
                    <img src="{% static 'img/right.svg' %}" alt="right">
                </a>
            </div>
        </div>

        <!-- Menu Modal -->
        <div class="modal fade" id="Modal_menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-menu" role="document">
                <div class="modal-content modal-content-menu">
                    <div class="modal_menu_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="/">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <div class="menu_modal_right">
                                <div class="subscription_btn" onclick="modalOpen()" data-toggle="modal" data-target="#Modal_subscription">
                                    <h3>구독하기</h3>
                                </div>
                                <button type="button" class="close modal_menu_close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="menu">
                            <ul class="modal-body-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>coo

        <!-- 구독하기 Modal -->
        <div class="modal fade" id="Modal_subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-subscription" role="document">
                <div class="modal-content modal-content-subscription">
                    <div class="modal_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="/">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="contants">
                            <h1>구독받으실 이메일주소와 정보를 입력해주세요.</h1>
                            <div class="input_form">
                                <h5>나이와 직업 입력은 선택사항입니다.</h5>
                                <input type="email" placeholder="이메일 주소 입력" name="이메일" class="critical_item user_email">
                                <input type="text" placeholder="나이 입력" name="나이" class="user_age">
                                <input type="text" placeholder="현재 직업 입력" name="직업" class="user_job">
                                <input type="submit" name="입력" value="확인" onclick="joinUser()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
