{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Future Job</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/symbol.png' %}">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script src="https://use.fontawesome.com/fde3c954a7.js"></script>
    </head>

    <body>
        <header>
            <div class="container">
                <div class="left">
                    <a href="list.html">
                        <img src="{% static 'img/symbol.svg' %}" alt="symbol">
                        <img src="{% static 'img/logo_w.svg' %}" alt="logo_white">
                    </a>
                </div>
                <div class="nav">
                    <div class="trigger" data-toggle="modal" data-target="#Modal_menu">
                        <img src="{% static 'img/menu_white.svg' %}" class="menu_common menu_web menu_mobile">
                    </div>
                </div>
            </div>
        </header>
        <div class="main_contianer">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ul class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                        <span class="num">01</span>
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1">
                        <span class="num">02</span>
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2">
                        <span class="num">03</span>
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3">
                        <span class="num">04</span>
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4">
                        <span class="num">05</span>
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5">
                        <span class="num">06</span>
                    </li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item carousel-item-01 active">
                        <div class="contents_common">
                            <a href="detail.html">
                                <h1>4차 산업준비를 위한 게임 AR 전문가</h1>
                                <h5>인터뷰</h5>
                                <p>스마티빌딩, 스마트팩토리 등은 각종 물리적 기계들과 에너지 전력망, <br>그리고 이들을 제어하는 컴퓨터 등이 하나로 연결되는 통합 시스템이다.<br>이런 통합 환경 구축에 강점을 가진 글로벌 기업 PTC 최고기술책임자(CTO) 앤드루 팀은 <br>매일경제와 단독 인터뷰했다.</p>
                            </a>
                        </div>
                        <div class="more">
                            <a href="detail.html">더보기<br><img src="{% static 'img/more.svg' %}"></a>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-02">
                        <div class="contents_common">
                            <a href="detail.html">
                                <h1>머신러닝 <br>machine learning</h1>
                                <p>컴퓨터가 스스로 방대한 데이터를 분석해서 미래를 예측하는 기술. <br>머신러닝을 우리말로 옮기면 '기계 학습'이라고 할 수 있는데 이것은 인공 지능을 가능하게 하는 방법</p>
                            </a>
                        </div>
                        <div class="more">
                            <a href="detail.html">더보기<br><img src="{% static 'img/more.svg' %}"></a>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-03">
                        <div class="contents_common">
                            <a href="detail.html">
                                <h1>가상현실(VR) 공간 디자이너</h1>
                                <h5>인터뷰</h5>
                                <p>스마트폰에 이미 들어있는 있는 소프트웨어가 기계 학습을 통해 <br>어떤 이미지가 동물·자연·음식에 관한 것인지 판단할 수 있기 때문이랍니다.</p>
                            </a>
                        </div>
                        <div class="more">
                            <a href="detail.html">더보기<br><img src="{% static 'img/more.svg' %}"></a>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-04">
                        <div class="contents_common">
                            <a href="detail.html">
                                <h1>우주여행 가이드</h1>
                                <h5>인터뷰</h5>
                                <p>방대한 양의 데이터 가운데 비슷한 것끼리 묶어내고 서로 관계있는 <br>것들의 상하구조를 인식하여 이것을 바탕으로 앞으로의 행동을 예측하는 기술인 것입니다.</p>
                            </a>
                        </div>
                        <div class="more">
                            <a href="detail.html">더보기<br><img src="{% static 'img/more.svg' %}"></a>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-05">
                        <div class="contents_common">
                            <a href="detail.html">
                                <h1>인간 신체 디자이너와 미래의 건강</h1>
                                <p>스마트폰의 사진첩을 이용하다보면, 사진을 분류하는 방법에 '동물', '자연', 또는 <br>'음식'과 같은 기준이 있는 것을 알 수 있습니다. <br>이런 기준을 정해주면, 신기하게도 스마트폰 스스로가 저장되어 있는 사진을 분류해 냅니다</p>
                            </a>
                        </div>
                        <div class="more">
                            <a href="detail.html">더보기<br><img src="{% static 'img/more.svg' %}"></a>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-06">
                        <div class="contents_common">
                            <a href="detail.html">
                                <h1>인간 신체 디자이너와 미래의 건강111</h1>
                                <p>스마트폰의 사진첩을 이용하다보면, 사진을 분류하는 방법에 '동물', '자연', 또는 '음식'과 같은 기준이 있는 것을 알 수 있습니다. <br>이런 기준을 정해주면, 신기하게도 스마트폰 스스로가 저장되어 있는 사진을 분류해 냅니다</p>
                            </a>
                        </div>
                        <div class="more">
                            <a href="detail.html">더보기<br><img src="{% static 'img/more.svg' %}"></a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <img src="{% static 'img/left.svg' %}" alt="left">
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <img src="{% static 'img/right.svg' %}" alt="right">
                </a>
            </div>
        </div>

        <!-- Menu Modal -->
        <div class="modal fade" id="Modal_menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-menu" role="document">
                <div class="modal-content modal-content-menu">
                    <div class="modal_menu_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="index.html">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <div class="menu_modal_right">
                                <div class="subscription_btn" data-toggle="modal" data-target="#Modal_subscription">
                                    <h3>구독하기</h3>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="detail.html">
                                        <div class="container">
                                            <div class="menu_title">
                                                <h2 class="num">01</h2>
                                                <h5 class="title">4차 산업준비를 위한 게임 AR전문가
                                                    <span class="tag">인터뷰</span>
                                                </h5>
                                            </div>
                                            <div class="thumbnail_area">
                                                <div class="thumbnail_01"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="detail.html">
                                        <div class="container">
                                            <div class="menu_title">
                                                <h2 class="num">02</h2>
                                                <h5 class="title">머신러닝 machine learning</h5>
                                            </div>
                                            <div class="thumbnail_area">
                                                <div class="thumbnail_02"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="detail.html">
                                        <div class="container">
                                            <div class="menu_title">
                                                <h2 class="num">03</h2>
                                                <h5 class="title">
                                                    가상현실(VR) 공간 디자이너<span class="tag">인터뷰</span>
                                                </h5>
                                            </div>
                                            <div class="thumbnail_area">
                                                <div class="thumbnail_03"></div>
                                            </div>
                                        </div>

                                    </a>
                                </li>
                                <li>
                                    <a href="detail.html">
                                        <div class="container">
                                            <div class="menu_title">
                                                <h2 class="num">04</h2>
                                                <h5 class="title">4차 산업준비를 위한 게임 AR전문가</h5>
                                            </div>
                                            <div class="thumbnail_area">
                                                <div class="thumbnail_04"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="detail.html">
                                        <div class="container">
                                            <div class="menu_title">
                                                <h2 class="num">05</h2>
                                                <h5 class="title">우주여행 가이드 그 첫번째 시작은 달에서 시작한다
                                                    <span class="tag">인터뷰</span>
                                                </h5>
                                            </div>
                                            <div class="thumbnail_area">
                                                <div class="thumbnail_05"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="detail.html">
                                        <div class="container">
                                            <div class="menu_title">
                                                <h2 class="num">06</h2>
                                                <h5 class="title">인간 신체 디자이너와 미래의 건강</h5>
                                            </div>
                                            <div class="thumbnail_area">
                                                <div class="thumbnail_06"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 구독하기 Modal -->
        <div class="modal fade" id="Modal_subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-subscription" role="document">
                <div class="modal-content modal-content-subscription">
                    <div class="modal_nav">
                        <div class="modal_container">
                            <div class="logo_area">
                                <a href="index.html">
                                    <img src="{% static 'img/symbol.svg' %}">
                                    <img src="{% static 'img/logo_b.svg' %}">
                                </a>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="contants">
                            <h1>구독받으실 이메일주소와 정보를 입력해주세요.</h1>
                            <div class="input_form">
                                <h5>나이와 직업 입력은 선택사항입니다.</h5>
                                <input type="email" placeholder="이메일 주소 입력" name="이메일" class="critical_item">
                                <input type="text" placeholder="나이를 입력해주세요." name="나이">
                                <input type="text" placeholder="현재 직업을 입력해주세요." name="직업">
                                <input type="submit" name="입력" value="확인">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>